@import "./common.scss";
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        width: 100%;
        height: px2rem(50px);
        background: green;
    }
    .main {
        width: 100%;
        flex: 1;
        overflow: hidden;
    }
}